@page "/"
@inject IJSRuntime JsRuntime;
@{
    var tabindex = 0;
     
}


@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("setTitle", ".NET Notts");

    }
}

 


<section id="banner">
    <div class="center banner">
        <h3 tabindex="@(tabindex)">Site made by the community on <a href="https://github.com/dotnetnotts/dotnetnotts-web" target="_blank"><i class="fab fa-github"></i></a></h3>
    </div>
</section>

<section id="about">
    <br />
    <h2 tabindex="@(tabindex)">About Us</h2>
    <div class="center">
        <p tabindex="@(tabindex)">
            Welcome! .NET Notts is a monthly user group based in Nottingham, UK.
        </p>
        <p tabindex="@(tabindex)">
            All of our events are currently hosted virtually on Zoom and live streamed to YouTube. You can also keep an eye on our event on the following social media accounts:
        </p>
        <a href="https://twitter.com/dotnetnotts" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm" tabindex="@(tabindex)">Twitter</a>
        <a href="https://www.meetup.com/dotnetnotts/" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm" tabindex="@(tabindex)">Meetup</a>
        <a href="https://www.linkedin.com/company/dotnet-notts" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm" tabindex="@(tabindex)">LinkedIn</a>
        <a href="https://www.youtube.com/channel/UC6N65W35hZMcVXeqq3Vi5Iw" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm" tabindex="@(tabindex)">YouTube</a>
    </div>
    <hr />
</section>

<section id="upcoming-talks">
    <br />
    <h2 tabindex="@(tabindex)">Upcoming Events</h2>
    <div class="center">
        <p>
            TBD
        </p>
    </div>
    <hr />
</section>

<section id="past-talks">
    <br />
    <h2 tabindex="@(tabindex)">Past Events</h2>
    <p class="center" tabindex="@(tabindex)">
        To see talks from our past events head over to our <a href="https://www.youtube.com/channel/UC6N65W35hZMcVXeqq3Vi5Iw" target="_blank">YouTube Channel</a>
    </p>
    <div class='embed-container'>
        <iframe src="https://www.youtube.com/embed/videoseries?list=PLIRh22aD5gduWWQDjpwT9_ZAsjDsMmJ0w" frameborder='0' allowfullscreen></iframe>
    </div>
    <hr />
</section>

<section class="sponsors">
    <h3 tabindex="@(tabindex)">Our Sponsors</h3>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.jetbrains.com/" target="__blank" tabindex="@(tabindex)">
                <img class="sponsors-logo img-thumbnail img-responsive" src="/images/sponsors/jetbrains.png" alt="jetbrains-logo">
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.pjgcreations.co.uk/" target="__blank" tabindex="@(tabindex)">
                <img class="sponsors-logo img-thumbnail img-responsive" src="/images/sponsors/pjgcreations.jpg" alt="pjgcreations-logo">
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="https://stkrs.co.uk/" target="__blank" tabindex="@(tabindex)">
                <img class="sponsors-logo img-thumbnail img-responsive" src="/images/sponsors/stkrs.png" alt="stkrs-logo">
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.technottingham.com/" target="__blank" tabindex="@(tabindex)">
                <img class="sponsors-logo img-thumbnail img-responsive" src="/images/sponsors/tech-notts.png" alt="tech-notts-logo">
            </a>
        </div>
    </div>
</section>