@page "/"
@{
    var tabindex = 0;
}

<section id="banner" aria-labelledby="banner-heading">
    <div class="center banner">
    <h3 id="banner-heading" tabindex="@(tabindex)">Site made by the community on <a href="https://github.com/dotnetnotts/dotnetnotts-web" target="_blank" aria-label="GitHub repository (opens in new tab)"><i class="fab fa-github" aria-hidden="true"></i></a></h3>
    </div>
</section>

<section id="about" aria-labelledby="about-heading">
    <br/>
    <h2 id="about-heading" tabindex="@(tabindex)">About Us</h2>
    <div class="center">
       <p tabindex="@(tabindex)"> 
           Welcome! .NET Notts is a monthly user group based in Nottingham, UK.
       </p>
       <p tabindex="@(tabindex)">
           All of our events are currently in person at the Nottingham CGI offices and then are later published to YouTube.
       </p>
       <nav aria-label="Social media links">
           <a href="https://www.meetup.com/dotnetnotts/" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm" tabindex="@(tabindex)" aria-label="Meetup (opens in new tab)">Meetup</a>
           <a href="https://www.linkedin.com/company/dotnet-notts" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm" tabindex="@(tabindex)" aria-label="LinkedIn (opens in new tab)">LinkedIn</a>
           <a href="https://www.youtube.com/channel/UC6N65W35hZMcVXeqq3Vi5Iw" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm" tabindex="@(tabindex)" aria-label="YouTube (opens in new tab)">YouTube</a>
       </nav>
    </div>
    <hr/>
</section>

<section id="past-talks" aria-labelledby="past-talks-heading">
<br/>
    <h2 id="past-talks-heading" tabindex="@(tabindex)">Past Events</h2>
    <p class="center" tabindex="@(tabindex)">
        To see talks from our past events head over to our <a href="https://www.youtube.com/channel/UC6N65W35hZMcVXeqq3Vi5Iw" target="_blank" aria-label="YouTube Channel (opens in new tab)">YouTube Channel</a>
    </p>
</section>

<section class="sponsors" aria-labelledby="sponsors-heading">
    <h3 id="sponsors-heading" tabindex="@(tabindex)">Our Sponsors</h3>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="https://www.cgi.com/en" target="_blank" tabindex="@(tabindex)" aria-label="CGI (opens in new tab)">
                <img class="sponsors-logo img-thumbnail img-responsive" src="/images/sponsors/cgi.jpg" alt="CGI logo">
            </a>
        </div>        
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="https://www.rebelrecruiters.co.uk/" target="_blank" tabindex="@(tabindex)" aria-label="Rebel Recruiters (opens in new tab)">
                <img class="sponsors-logo img-thumbnail img-responsive" src="/images/sponsors/Rebel.png" alt="Rebel Recruiters logo">
            </a>
        </div>        
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="https://www.pjgcreations.co.uk/" target="_blank" tabindex="@(tabindex)" aria-label="PJG Creations (opens in new tab)">
                <img class="sponsors-logo img-thumbnail img-responsive" src="/images/sponsors/pjgcreations.jpg" alt="PJG Creations logo">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        </div>
    </div>
</section>
