@{
    const int tabindex = 0;
}

<div class="main-footer-container">

    <div class="footer-menu-links-left">
        <NavLink class="footer-link" href="https://www.meetup.com/dotnetnotts/" target="_blank" tabindex="@(tabindex)">
	    <span class="visually-hidden">DotNetNotts on MeetUp</span>
            <i class="fab fa-meetup" aria-hidden="true"></i>
        </NavLink>
        <NavLink class="footer-link" href="https://www.linkedin.com/company/dotnet-notts" target="_blank" tabindex="@(tabindex)">
            <span class="visually-hidden">DotNetNotts on LinkedIn</span>
            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
        </NavLink>
        <NavLink class="footer-link" href="https://www.youtube.com/channel/UC6N65W35hZMcVXeqq3Vi5Iw" target="_blank" tabindex="@(tabindex)">
            <span class="visually-hidden">DotNetNotts on YouTube</span>
            <i class="fab fa-youtube" aria-hidden="true"></i>
        </NavLink>
        <NavLink class="footer-link" href="https://github.com/dotnetnotts" target="_blank" tabindex="@(tabindex)">
            <span class="visually-hidden">DotNetNotts on GitHub</span>
            <i class="fab fa-github" aria-hidden="true"></i>
        </NavLink>

    </div>

    <div class="footer-menu-links">
        <NavLink class="footer-link" href="codeofconduct" tabindex="@(tabindex)">
            Code Of Conduct
        </NavLink>
    </div>

    <div class="footer-sitemap">
        <h6 class="sitemap-title">Sitemap</h6>
        <NavLink class="footer-link" href="/" tabindex="@(tabindex)">
            Home
        </NavLink>
        <NavLink class="footer-link" href="/events" tabindex="@(tabindex)">
            Events
        </NavLink>
        <NavLink class="footer-link" href="/learn" tabindex="@(tabindex)">
            Learn
        </NavLink>
        <NavLink class="footer-link" href="/speak" tabindex="@(tabindex)">
            Speak
        </NavLink>
        <NavLink class="footer-link" href="/speakerinfo" tabindex="@(tabindex)">
            Speaker Info
        </NavLink>
    </div>

</div>
