@code {
    const int tabindex = 0;
    
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "hide-menu" : null;

    private void ToggleNavBar()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CloseNavBar()
    {
        collapseNavMenu = true;
    }
}

<div class="main-nav-container">

    <a class="navbar-brand" href="" tabindex="@(tabindex)">
        <img src="/images/logo.png" class="main-logo" alt=".NET Notts">
    </a>
    <button class="hamburger" @onclick="ToggleNavBar" aria-label="Menu">
        <i class="fas fa-bars hamburger-icon" aria-hidden=”true”></i>
    </button>

    <nav class="nav-menu nav-menu-links @NavMenuCssClass">
        <ul>
            <li>
                <NavLink class="nav-link" href="/" tabindex="@(tabindex)" @onclick="@CloseNavBar">
                    Home
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="https://sessionize.com/dotnetnotts/" target="_blank" tabindex="@(tabindex)" @onclick="@CloseNavBar">
                    Apply To Speak
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="speakerinfo" tabindex="@(tabindex)" @onclick="@CloseNavBar">
                    Speaker Info
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="https://blog.dotnetnotts.co.uk/" target="_blank" rel="noopener" tabindex="@(tabindex)" @onclick="@CloseNavBar">
                    Blog
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="contactus" tabindex="@(tabindex)" @onclick="@CloseNavBar">
                    Contact Us
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="codeofconduct" tabindex="@(tabindex)" @onclick="@CloseNavBar">
                    Code Of Conduct
                </NavLink>
            </li>
        </ul>
    </nav>
</div>
