@code {
    const int tabindex = 0;
    
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "hide-menu" : null;

    private void ToggleNavBar()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CloseNavBar()
    {
        collapseNavMenu = true;
    }
}

<div class="main-nav-container" role="banner">

    <a class="navbar-brand" href="" tabindex="@(tabindex)" aria-label=".NET Notts home page">
        <img src="/images/logo.png" class="main-logo" alt=".NET Notts logo">
    </a>
    <button class="hamburger" @onclick="ToggleNavBar" aria-label="Toggle navigation menu" 
            aria-expanded="@(!collapseNavMenu)" aria-controls="main-navigation">>
        <i class="fas fa-bars hamburger-icon" aria-hidden=”true”></i>
    </button>

    <nav id="main-navigation" class="nav-menu nav-menu-links @NavMenuCssClass" role="navigation" 
         aria-label="Main navigation">
        <ul role="menubar">
            <li role="none">
                <NavLink class="nav-link" href="/" tabindex="@(tabindex)" @onclick="@CloseNavBar" role="menuitem">
                    Home
                </NavLink>
            </li>
            <li role="none">
                <NavLink class="nav-link" href="speakerinfo" tabindex="@(tabindex)" @onclick="@CloseNavBar" role="menuitem">
                    Speaker Info
                </NavLink>
            </li>
            <li role="none">
                <NavLink class="nav-link" href="codeofconduct" tabindex="@(tabindex)" @onclick="@CloseNavBar" role="menuitem">
                    Code Of Conduct
                </NavLink>
            </li>
        </ul>
    </nav>
</div>
